@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}

body { 
    background:url("ground.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:  cover;
    background-color: dimgray;
}

input {
    height: 40px;
    width: 250px;
    border-radius: 5px;
    padding: 0 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 15px;
    background-color: #E5E5E5;
    opacity: 0.8;
    border-color: #FD7101;
    justify-content: center;
    align-items: center;
    
}

select {
    height: 40px;
    width: 293px;
    border-radius: 5px;
    padding: 0 15px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.2rem;
    margin-bottom: 15px;
    background-color: #E5E5E5;
    opacity: 0.8;
    border-color: #FD7101;
    justify-content: center;
    align-items: center;
}

input[type="radio"] {
	margin-top: 10px;
	vertical-align: middle;
}

button {
    justify-content: flex;
    margin: auto;
    border-radius: 5px;
    color: #FFFF;
    background-color: #FD7101;
    cursor: pointer;
    width: 120px;
    height: 40px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.2rem;
    opacity: 0.8;;
}

a {
    margin-top: 2px;
    margin-bottom: 30px;
    color: #FD7101;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: larger;
}

h1 {
    font-family: 'Bungee Outline', cursive;
    color: #FFFF; 
    margin: 0px 5px;
    opacity: 1;
    font-size: 60px;
    text-align: center;
}

h2 {
    color: #E5E5E5;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

h3 {
    justify-content:flex-start;
    margin-left: 80px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: xx-large;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #111;
    opacity: 0.6;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    padding: 10px 10px;
    text-decoration: none;
}

li a:hover {
    background-color: #333;
}

.container {
    width: 400px;
    margin: auto;
    align-content: center;
    
}

.navbar {
    width: 100%;
    overflow: auto;
}

.center {
    display:         flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.form_index {
	height: 250px;
    width: 300px;
    margin: auto;
}

.form_index a {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    align-items: center;
}

.form_recovery {
	margin-left: 50px;
}

.form_register {
    width: 600px;
}

.radio_inline {
	font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.3rem;
    color: #E5E5E5;
}

.home_logo { 
    width: 50px;
    height: 50px;
}

.logo {
	width:230px;
  	display: center;
  	margin-bot: 0px;
}

#trial {
    font-family:  'Yanone Kaffeesatz', sans-serif;
    font-size: 64px;
    margin-left: 24px;
    padding: 0%;
    color:#FD7101;
}

#img_select {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 75px;
    grid-gap: 5px;
}

#img_select2 {
    display: none;
    display: none;
 
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows: 75px;
    grid-gap: 5px;
    
}


.register_page {
    display: inline;
    margin: auto;
    flex-direction: column;
}

#welcome {
    margin-top: 75px;
    margin-left: 80px;
    font-size: xx-large;
}

#recovery {
    margin-top: 150px;
}

#join_btn {
	display:         flex;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

#yes_btn {
	margin-right: 5px;
	margin-left: 80px; 
}

#not_btn {
   background-color: transparent;
}

#btt_logo {
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 17px;
    right: 0px;
    display: inline;
}

#btt_name {
    font-family: 'Bungee Outline', cursive;
    color: #E5E5E5;
    position: fixed;
    bottom: 0px;
    left: 0px;
    display: inline;
    margin-left:10px;
}

#input_recuperacao {
	padding-left: 50px;
}

#masculino {
	width: 15px;
}

#feminino {
	width: 15px;
}

#img_select img{
    display: flex;
    margin: auto;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    border:#FD7101 solid;
}

#img_select2 img{
    display: flex;
    margin: auto;
    width: 350px;
    height: 350px;
    border-radius: 15px;
    border:#FD7101 solid;
}


#stud{
    width: 35%;
    height: 50%;
    border-radius: 15px;
    border-color:#FD7101;
    border:#E5E5E5 solid;
}
#stud2{
    border-radius: 15px;
    border-color:#FD7101;
    border:#E5E5E5 solid;
    width: 39%;
    height: 30%;
    margin-left: 15px;
}


.prof img{
    
    border-radius: 80%;
    width: 150px;
    height: 150px;
    border: #FD7101 solid;
    margin-left: 18px;
}

.float-child{
    float: left;
    padding: 20px;
}
.float-child h2{
    margin-left: 17px;
}

.explore img{
    
    border:#E5E5E5 solid;
    border-radius: 15px;
    width: 260px;
    height: 240px;
    margin-left: 10px;      
}
.description p {
    font-family:  'Yanone Kaffeesatz', sans-serif;
    color: #E5E5E5;
    font-size: 24px;
}
.perfil-img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.description i{
    color: #FD7101;
}

.tatuador {
	width: 100%;
	margin: 0px 0px;
	padding: 0px 0px;
}

#padding-chat {
    padding: 3rem
}

.box.box-warning {
    border-top-color: #f39c12
}

.box {
    position: relative;
    border-radius: 3px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin-bottom: 20px;
    width: 100%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1)
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative
}

.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
    content: "";
    display: table
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative
}

.box-header>.fa,
.box-header>.glyphicon,
.box-header>.ion,
.box-header .box-title {
    display: inline-block;
    font-size: 18px;
    margin: 0;
    line-height: 1
}

.box-header>.box-tools {
    position: absolute;
    right: 10px;
    top: 5px
}

.box-header>.box-tools [data-toggle="tooltip"] {
    position: relative
}

.bg-yellow,
.callout.callout-warning,
.alert-warning,
.label-warning,
.modal-warning .modal-body {
    background-color: #f39c12 !important
}

.bg-yellow {
    color: #fff !important
}

.btn {
    border-radius: 3px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid transparent
}

.btn-box-tool {
    padding: 5px;
    font-size: 12px;
    background: transparent;
    color: #97a0b3
}

.direct-chat .box-body {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    position: relative;
    overflow-x: hidden;
    padding: 0
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px
}

.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
    content: "";
    display: table
}

.direct-chat-messages {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    padding: 10px;
    height: 250px;
    overflow: auto
}

.direct-chat-messages,
.direct-chat-contacts {
    -webkit-transition: -webkit-transform .5s ease-in-out;
    -moz-transition: -moz-transform .5s ease-in-out;
    -o-transition: -o-transform .5s ease-in-out;
    transition: transform .5s ease-in-out
}

.direct-chat-msg {
    margin-bottom: 10px
}

.direct-chat-msg,
.direct-chat-text {
    display: block
}

.direct-chat-info {
    display: block;
    margin-bottom: 2px;
    font-size: 12px
}

.direct-chat-timestamp {
    color: #999
}

.btn-group-vertical>.btn-group:after,
.btn-group-vertical>.btn-group:before,
.btn-toolbar:after,
.btn-toolbar:before,
.clearfix:after,
.clearfix:before,
.container-fluid:after,
.container-fluid:before,
.container:after,
.container:before,
.dl-horizontal dd:after,
.dl-horizontal dd:before,
.form-horizontal .form-group:after,
.form-horizontal .form-group:before,
.modal-footer:after,
.modal-footer:before,
.modal-header:after,
.modal-header:before,
.nav:after,
.nav:before,
.navbar-collapse:after,
.navbar-collapse:before,
.navbar-header:after,
.navbar-header:before,
.navbar:after,
.navbar:before,
.pager:after,
.pager:before,
.panel-body:after,
.panel-body:before,
.row:after,
.row:before {
    display: table;
    content: ""
}

.direct-chat-img {
    border-radius: 50%;
    float: left;
    width: 40px;
    height: 40px
}

.direct-chat-text {
    border-radius: 5px;
    position: relative;
    padding: 5px 10px;
    background: #d2d6de;
    border: 1px solid #d2d6de;
    margin: 5px 0 0 50px;
    color: #444
}

.direct-chat-msg,
.direct-chat-text {
    display: block
}

.direct-chat-text:before {
    border-width: 6px;
    margin-top: -6px
}

.direct-chat-text:after,
.direct-chat-text:before {
    position: absolute;
    right: 100%;
    top: 15px;
    border: solid transparent;
    border-right-color: #d2d6de;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none
}

.direct-chat-text:after {
    border-width: 5px;
    margin-top: -5px
}

.direct-chat-text:after,
.direct-chat-text:before {
    position: absolute;
    right: 100%;
    top: 15px;
    border: solid transparent;
    border-right-color: #d2d6de;
    content: ' ';
    height: 0;
    width: 0;
    pointer-events: none
}

:after,
:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

.direct-chat-msg:after {
    clear: both
}

.direct-chat-msg:after {
    content: "";
    display: table
}

.direct-chat-info {
    display: block;
    margin-bottom: 2px;
    font-size: 12px
}

.right .direct-chat-img {
    float: right
}

.direct-chat-warning .right>.direct-chat-text {
    background: #f39c12;
    border-color: #f39c12;
    color: #fff
}

.right .direct-chat-text {
    margin-right: 50px;
    margin-left: 0
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff
}

.box-header:before,
.box-body:before,
.box-footer:before,
.box-header:after,
.box-body:after,
.box-footer:after {
    content: "";
    display: table
}

.input-group-btn {
    position: relative;
    font-size: 0;
    white-space: nowrap
}

.input-group-btn:last-child>.btn,
.input-group-btn:last-child>.btn-group {
    z-index: 2;
    margin-left: -1px
}

.btn-warning {
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236
}

.stretch-card>.card {
    width: 100%;
    min-width: 100%
}


.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

@media (max-width:991.98px) {
    .padding {
        padding: 1.5rem
    }
}

@media (max-width:767.98px) {
    .padding {
        padding: 1rem
    }
}

#div-chat {
	width: 700px;
	height: 500px;
	margin: 50px 300px;
}


